@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Nunito", sans-serif;
}

.dosis {
  font-family: "Dosis", sans-serif;
}

.uncapitalize {
  text-transform: unset !important;
}
